
# PostgreSQL
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=mysecretpass
# Uncomment the next line if you want to use another postgres server (outside your docker instance)
# and define it with the host URL
# PGHOST=

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=P>2<$+5m@>E(K(GGt-i!X,VjZ<VYBJL!;2;{@.N,bwgdGijNl@
DJANGO_ALLOWED_HOSTS=.osmcha.org

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# application settings
OAUTH_OSM_KEY=
OAUTH_OSM_SECRET=
