
# Settings for PostgreSQL client
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=

# Settings for PostgreSQL server (should match above)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

BACKEND_URL=http://django:5000
REDIS_URL=redis://redis:6379

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=P>2<$+5m@>E(K(GGt-i!X,VjZ<VYBJL!;2;{@.N,bwgdGijNl@
DJANGO_ALLOWED_HOSTS=.osmcha.org

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# application settings
OAUTH2_OSM_KEY=
OAUTH2_OSM_SECRET=
