{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}OSMCHA - Changeset {{ changeset.id }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2><a class="openOSM" href="{{ changeset.osm_link }}" target="_blank">Changeset {{ changeset.id }}</a> by <a href="https://www.openstreetmap.org/user/{{ changeset.user }}">{{ changeset.user }}</a> on {{ changeset.date }}</h2>
    <div class="row">
      <div class="col-md-12">
        <h3>
          <span class="label label-success">{{ changeset.create }}</span>
          <span class="label label-warning">{{ changeset.modify }}</span>
          <span class="label label-danger">{{ changeset.delete }}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      {% if changeset.is_suspect %}
      <div class="col-xs-12">
        <h4>
          {% for reason in changeset.reasons.all %}
          <span class="label label-default">{{ reason.name|capfirst }}</span>
          {% endfor %}
        </h4>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-xs-12 sticky" data-spy="affix" data-offset-top="300">
        <div class="btn-group">
          <a class="btn btn-primary openInJOSM" target="_blank" href="{{ changeset.josm_link }}">
            {% trans 'Open in JOSM' %}
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="openInId" href="{{ changeset.id_link }}" target="_blank">Open in iD</a></li>
          </ul>
        </div>
        <a class="btn btn-primary openHdyc" target="_blank" href="http://hdyc.neis-one.org/?{{ changeset.user }}">
          {% trans 'HDYC' %}
        </a>
        {% if changeset.checked %}
        {% if changeset.check_user == request.user %}
        <form action="{% url 'changeset:undo_changeset_marking' changeset.pk %}" method="post" style="display:inline">
          <button class="btn btn-primary undoMarking" type="submit">{% csrf_token %}{% trans 'Undo' %}
          </button>
        </form>
        {% endif %}
        {% if changeset.harmful %}
        <span class="glyphicon glyphicon-thumbs-down"></span>
        {% blocktrans with check_user=changeset.check_user%}
        Verified by <strong><a href="https://openstreetmap.org/user/{{ check_user }}" target="_blank">{{ check_user }}</a></strong> and marked as harmful
        {% endblocktrans %}
        {% else %}
        <span class="glyphicon glyphicon-thumbs-up"></span>
        {% blocktrans with check_user=changeset.check_user%}
        Verified by <strong><a href="https://openstreetmap.org/user/{{ check_user }}" target="_blank">{{ check_user }}</a></strong> and marked as good
        {% endblocktrans %}
        {% endif %}
        {% else %}
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Verified <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
            <form action="{% url 'changeset:set_good' changeset.pk %}" method="post">{% csrf_token %}
            <button class="markGood" type="submit">
              <span class="glyphicon glyphicon-thumbs-up"></span> {% trans 'Mark as verified and not harmful' %}
            </button>
            </form>
          </li>
          <li>
            <form action="{% url 'changeset:set_harmful' changeset.pk %}" method="post">{% csrf_token %}
            <button class="markBad" type="submit">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            {% trans 'Mark as verified and harmful' %}
            </button>
            </form>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <button type="submit" class="whitelist-user" data-username="{{ changeset.user }}" href="#">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            {% trans 'White-list this user' %}
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>

</div>
</div>
<div class="col-xs-12 col-md-6">
  <div class="row">
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{% trans 'Source' %}</h4>
        <p class="list-group-item-text">{{ changeset.source }}</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{% trans 'Comment' %}</h4>
        <p class="list-group-item-text">{{ changeset.comment }}</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{% trans 'Imagery used' %}</h4>
        <p class="list-group-item-text">{{ changeset.imagery_used }}</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{% trans 'Editor' %}</h4>
        <p class="list-group-item-text">{{ changeset.editor }}</p>
      </div>
    </div>
  </div>
</div>
</div>

{% if changeset.features %}
<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Suspicious Features in this Changeset
          </a>
          <span class="badge">{{ changeset.features|length }}</span>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
         <table>
          <thead>
            <tr>
              <th>
                OSM ID
              </th>
              <th>
                Name
              </th>
              <th>
                Map
              </th>
              <th>
                Reasons
              </th>
            </tr>
          </thead>
          <tbody>
            {% for feature in changeset.features %}
            <tr>
              <td>
                <a href="{% url 'feature:detail' changeset.id feature.url %}" target="_blank">
                  {{ feature.osm_id }}
                </a>
              </td>
              <td>
                <a href="{% url 'feature:detail' changeset.id feature.url %}" target="_blank">
                  {{ feature.geojson_obj.properties.name }}
                </a>
              </td>
              <td>
                <a class='select-feature' data-id='{{ feature.url }}' href="">
                  Show on map
                </a>
              </td>
              <td>
                {% for reason in feature.reasons.all %}
                {{ reason.name }} <br />
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}

<div class="row">
  <hr>
  <div id="map"></div>
  <a id='changeset-map-permalink' href="{{ changeset.achavi_link }}">{% trans 'Open visualization in a new window' %}</a>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/changeset-map.js' %}"></script>
<script>
  $(document).ready(function () {
    $(window).on('keypress', function(e) {
      var key = e.keyCode || e.charCode;
      if (key === 106) {
        // key j for JSOSM
        $('.openInJOSM').click();
      } else if (key === 104) {
        // key h for open HDYC
        $('.openHdyc')[0].click();
      } else if (key === 111) {
        // key o for open in OSM
        $('.openOSM')[0].click();
      } else if (key === 103) {
        // mark as good
        $('.markGood')[0].click();
      } else if (key === 98) {
        // mark as bad
        $('.markBad')[0].click();
      } else if (key === 117) {
        // undo marking
        $('.undoMarking').click();
      }
    });
  });
  var mapContainer = document.getElementById('map');
  var containerWidth = mapContainer.innerWidth + 'px';
  var cMap = changesetMap(mapContainer, {{ changeset.id }}, {width: containerWidth, height: '600px' });
  $('.has_tooltip').tooltip({
    'html': true,
    'placement': 'bottom'
  });

  cMap.on('load', function () {
    $('.select-feature').on('click', function (e) {
      e.preventDefault();
      var type = e.currentTarget.dataset.id.split('-')[0];
      var id = e.currentTarget.dataset.id.split('-')[1];
      cMap.emit('selectFeature', type, id);
      $('#changeset-map-permalink').attr('href', '{{ changeset.achavi_link }}' + '/' + type + '/' + id);
    });
  });
</script>
<script src="{% static 'js/josm_link.js' %}"></script>
<script src="{% static 'js/whitelist_user.js' %}"></script>
{% endblock javascript %}
