{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'OSMCHA - Changeset List' %}{% endblock %}

{% block content %}
  <div class="filters">
    <form action="." method="GET">
      <div class="field-container">
        <label for="create__gte">
          Min. Additions:
        </label>
        <input name="create__gte" value="{{ get.create__gte }}"/>
      </div>
      <div class="field-container">
        <label for="modify__gte">
          Min. Modifications:
        </label>
        <input name="modify__gte" value="{{ get.modify__gte }}"/>
      </div>
      <div class="field-container">
        <label for="delete__gte">
          Min. Deletions:
        </label>
        <input name="delete__gte" value="{{ get.delete__gte }}" />
      </div>
      <div class="field-container">
        <label for="editor__icontains">
          Editor:
        </label>
        <input name="editor__icontains" value="{{ get.editor__icontains }}" />
      </div>
      <div class="field-container">
        <label for="source__icontains">
          Imagery Source:
        </label>
        <input name="source__icontains" value="{{ get.source__icontains }}" />
      </div>
      <div class="field-container">
        <label for="comment__icontains">
          Comment:
        </label>
        <input name="comment__icontains" value="{{ get.comment__icontains }}" />
      </div>
      <div class="field-container">
        <label for="username">
          User:
        </label>
        <input name="username" value="{{ get.username }}" />
      </div>
      <div class="field-container">
        <label for="is_suspect">
          Show changesets:
        </label>
        <br />
        Show only suspicious: <input name="is_suspect" type="radio" value="True" {% if get.is_suspect == 'True' %} checked {% endif %} />
        Show all: <input name="is_suspect" type="radio" value="False" {% if get.is_suspect == 'False' %} checked {% endif %} />
      </div>
      <div class="field-container">
        <label for="reasons">
          Reason:
        </label>
        <select name="reasons">
          <option value="">---------</option>
          {% for reason in suspicion_reasons %}
            <option value="{{ reason.id }}" {% if get.reasons|add:"0" == reason.id %} selected="selected" {% endif %}>
              {{ reason.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="field-container">
        <label for="sort">
          Sort:
        </label>
        <select name="sort">
          <option value="">---------</option>
          {% for key, value in sorts.items %}
            <option value="{{ key }}" {% if key == get.sort %} selected="selected" {% endif %}>
              {{ value }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="field-container">
        <input type="submit" />
      </div>
    </form>
  </div>
  {% if changesets %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Editor' %}</th>
            <th>{% trans 'Count' %}</th>
            <th>{% trans 'Reasons' %}</th>
            <th>{% trans 'Verified' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for changeset in changesets %}
            <tr>
              <td>
                <a href="{% url 'changeset:detail' changeset.id %}">{{ changeset.id }}</a>
              </td>
              <td>{{ changeset.date }}</td>
              <td>{{ changeset.user }}</td>
              <td>{{ changeset.editor }}</td>
              <td>
                <span class="label label-success">{{ changeset.create }}</span>
                <span class="label label-warning">{{ changeset.modify }}</span>
                <span class="label label-danger">{{ changeset.delete }}</span>
              </td>
              <td>{{ changeset.reasons.all|join:", "|capfirst }}</td>
              <td>
                {% if changeset.checked %}
                  <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                  {% if changeset.harmful %}
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  {% endif %}
                {% else %}
                  <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-danger">{% trans 'No changesets found.' %}</div>
  {% endif %}

  {% if paginator %}
    <p class="text-muted text-pagination">
      {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}
    </p>
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}&{{ queries.urlencode }}">&larr; {% trans 'Previous' %}</a></li>
      {% endif %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}&{{ queries.urlencode }}">{% trans 'Next' %} &rarr;</a></li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock content %}
