{% extends 'base.html' %}
{% load i18n %}
{% load query_parameters %}
{% block title %}OSMCHA - Stats{% endblock %}

{% block content %}
  <h2>{% trans 'Statistics' %}</h2>
  <p>
    <form action="" method="GET">
      <label for="from" class="control-label">From</label>
      <input class="form-control" name="from" type="date" value="{{ get.from }}"/>
      <br />
      <label for="to" class="control-label">To</label>
      <input class="form-control" name="to" type="date" value="{{ get.to }}"/>
      <br />
      <label for="checked_by" class="control-label">Reviewer Username</label>
      <input class="form-control" name="checked_by" type="text" value="{{ get.checked_by }}"/>
      <br />
      <label for="bbox" class="control-label">BBOX</label>
      <input class="form-control" name="bbox" type="text" value="{{ get.bbox }}"/>
      <br />
      <label for="editor__contains" class="control-label">Editor</label>
      <input class="form-control" name="editor__icontains" type="text" value="{{ get.editor__icontains }}"/>
      <br />
      <label for="comment__icontains" class="control-label">Comment</label>
      <input class="form-control" name="comment__icontains" type="text" value="{{ get.comment__icontains }}"/>
      <br />

      <input type="submit" />
    </form>
  </p>
  <p>
      {% trans 'Total number of changesets checked' %}:
      <a href="{% url 'changeset:home' %}?{% set_query_parameters is_suspect='False' checked='True' %}">
          {{ checked }}
      </a>
  </p>
  <p>
      {% trans 'Total number of harmful changesets found' %}:
      <a href="{% url 'changeset:home' %}?{% set_query_parameters is_suspect='False' harmful='True' %}">
          {{ harmful }}
      </a>
  </p>
  <p>
      {% trans 'Number of users with harmful changesets' %}:
      <a href="{% url 'changeset:all_blacklist_users' %}">
          {{ users_blacklisted }}
      </a>
  </p>

  <br>

  <h3>Count by Suspicion Reason</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Suspicion reason</th>
      <th>Checked</th>
      <th>Verified Harmful</th>
    </tr>
    {% for key, value in counts.items %}
    <tr>
        <td>{{ key }}</td>
        <td>
          <a href="/?{% set_query_parameters checked='True' is_suspect='False' reasons=value.id %}">
            {{ value.checked }}
          </a>
        </td>
        <td>
          <a href="/?{% set_query_parameters harmful='True' is_suspect='False' reasons=value.id %}">
            {{ value.harmful }}
          </a>
        </td>
    </tr>
    {% endfor %}
  </table>

  <br>
{% endblock content %}
