{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}OSMCHA - Mark Feature {{ feature }} as {{ modification }}?{% endblocktrans %}{% endblock %}

{% block content %}
  <h2>{% blocktrans %}Do you really want to mark the feature {{ feature }} as {{ modification }}?{% endblocktrans %}</h2>
  {% if modification == 'harmful' %}
    <div class="alert alert-danger" role="alert">
      <p>{% trans 'Only mark a feature as harmful if you have already fixed or reverted it.' %}</p>
    </div>
  {% endif %}
  <form action="" method="post">{% csrf_token %}
    <button class="btn btn-primary btn-success" type="submit">{% trans "Yes, I'm sure" %}</button>
    <a class="btn btn-default" href="{% url 'feature:detail' feature.changeset.pk %}">{% trans "No, don't mark it as" %} {{ modification }}</a>
  </form>
{% endblock content %}
