{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}OSMCHA - Feature {{ feature.osm_id }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2><a class="openOSM" href="{{ feature.osm_link }}" target="_blank">Feature {{ feature.osm_id }}</a> by <a href="https://www.openstreetmap.org/user/{{ feature.changeset.user }}">{{ feature.changeset.user }}</a> on {{ feature.changeset.date }}</h2>
      <h3><a class="openOSM" target="_blank" href="{% url 'changeset:detail' feature.changeset.id %}">Changeset #{{ feature.changeset.id }}</a>
      </h3>
      <div class="row">
        <div class="col-xs-12">
          <h4>
            {% for reason in feature.reasons.all %}
            <span class="label label-default">{{ reason.name|capfirst }}</span>
            {% endfor %}
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 sticky" data-spy="affix" data-offset-top="300">
          <div class="btn-group">
            <a class="btn btn-primary openInJOSM" target="_blank" href="{{ changeset.josm_link }}">
              {% trans 'Open in JOSM' %}
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="openInId" href="{{ changeset.id_link }}" target="_blank">Open in iD</a></li>
            </ul>
          </div>
          <a class="btn btn-primary openHdyc" target="_blank" href="http://hdyc.neis-one.org/?{{ feature.changeset.user }}">
            {% trans 'HDYC' %}
          </a>
          {% if feature.checked %}
          {% if feature.harmful %}
          <span class="glyphicon glyphicon-thumbs-down"></span>
          {% blocktrans with check_user=feature.check_user.name%}
          Verified by <strong><a href="https://openstreetmap.org/user/{{ check_user }}" target="_blank">{{ check_user }}</a></strong> and marked as harmful
          {% endblocktrans %}
          {% else %}
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {% blocktrans with check_user=feature.check_user.name%}
          Verified by <strong><a href="https://openstreetmap.org/user/{{ check_user }}" target="_blank">{{ check_user }}</a></strong> and marked as good
          {% endblocktrans %}
          {% endif %}
          {% else %}
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Not Verified <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="markGood"
                {% if request.user.is_authenticated %}
                data-toggle="modal" data-target="#notHarmfulModal"
                {% else %}
                href="{% url 'feature:set_good' feature.changeset_id feature.url %}"
                {% endif %}
                >
                <span class="glyphicon glyphicon-thumbs-up"></span> {% trans 'Mark as verified and not harmful' %}
              </a>
            </li>
            <li>
              <a class="markBad"
              {% if request.user.is_authenticated %}
              data-toggle="modal" data-target="#harmfulModal"
              {% else %}
              href="{% url 'feature:set_harmful' feature.changeset_id feature.url %}"
              {% endif %}
              >
              <span class="glyphicon glyphicon-thumbs-down"></span> {% trans 'Mark as verified and harmful' %}
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li>
            <a class="whitelist-user" data-username="{{ feature.changeset.user }}" href="#">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              {% trans 'White-list this user' %}
            </a>
          </li>
          {% endif %}
          </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{% trans 'Version' %}</h4>
            <p class="list-group-item-text">{{ feature.osm_version }}</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{% trans 'Source' %}</h4>
            <p class="list-group-item-text">{{ feature.changeset.source }}</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{% trans 'Comment' %}</h4>
            <p class="list-group-item-text">{{ feature.changeset.comment }}</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{% trans 'Imagery used' %}</h4>
            <p class="list-group-item-text">{{ feature.changeset.imagery_used }}</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{% trans 'Editor' %}</h4>
            <p class="list-group-item-text">{{ feature.changeset.editor }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-xs-12 col-md-6">
     <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'Tags' %}</th>
            <th>{% trans '' %}</th>
            <th>{% trans '' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for record in feature.diff_tags.added %}
            <tr>
              <td>
                {{record.tag}}
              </td>
              <td>{{record.Value}}</td>
              <td bgcolor = #d5e8ce>ADDED</td>
            </tr>
          {% endfor %}
          {% for record in feature.diff_tags.deleted %}
            <tr>
              <td>
                {{record.tag}}
              </td>
              <td>{{record.Value}}</td>
              <td bgcolor = #e2ced2>DELETED</td>
            </tr>
          {% endfor %}
          {% for record in feature.diff_tags.modified %}
            <tr>
              <td>
                {{record.tag}}
              </td>
              <td>{{record.oldValue}}</td>
              <td>{{record.newValue}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Unchanged tags
              </a>
              <span class="badge">{{ feature.diff_tags.unmodified|length }}</span>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                  {% for record in feature.diff_tags.unmodified %}
                    <tr>
                      <td>
                        {{record.tag}}
                      </td>
                      <td>{{record.oldValue}}</td>
                      <td>{{record.newValue}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id='map' style='width: 400px; height: 300px;'></div>
      <h4>
        <span id='geometryStatus' class="label label-default"></span>
      </h4>
    </div>
  </div>
  {% if request.user.is_authenticated and not feature.checked %}
    <div class="modal fade" id="notHarmfulModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              {% blocktrans %}Do you really want to mark the feature {{ feature }} as good?{% endblocktrans %}
            </h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'feature:set_good' feature.changeset_id feature.url %}" method="post">{% csrf_token %}
              <button class="btn btn-primary btn-success" type="submit">{% trans "Yes, I'm sure" %}</button>
              <a class="btn btn-default" data-dismiss="modal">
                {% trans "No, don't mark it as good" %}
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="harmfulModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              {% blocktrans %}Do you really want to mark the feature {{ feature }} as harmful?{% endblocktrans %}
            </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              <p>{% trans 'Only mark a feature as harmful if you have already fixed or reverted it.' %}</p>
            </div>
            <form action="{% url 'feature:set_harmful' feature.changeset_id feature.url %}" method="post">{% csrf_token %}
              <button class="btn btn-primary btn-success" type="submit">{% trans "Yes, I'm sure" %}</button>
              <a class="btn btn-default" data-dismiss="modal">
                {% trans "No, don't mark it as harmful" %}
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block javascript %}
  {{ block.super }}
<script>
$('.has_tooltip').tooltip({
  'html': true,
  'placement': 'bottom'
});
$('#collapseOne').collapse("hide");
</script>
<script src="{% static 'js/josm_link.js' %}"></script>
<script src="{% static 'js/whitelist_user.js' %}"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js"></script>
<link rel='stylesheet' href="https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css" />
<script type="text/javascript" src="https://npmcdn.com/@turf/turf@3.5.1/turf.min.js"></script>
<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ';
var map = new mapboxgl.Map({
    container: document.getElementById('map'),
    style: 'mapbox://styles/planemad/cijcefp3q00elbskq4cgvcivf',
    zoom: 5,
    maxZoom: 18
});
map.on('load', function() {
  var oldVersion, newVersion = null;
  var featureCollection = {
    "type": "FeatureCollection",
    "features": []
  };
  var newGeojson = {{ new_geojson|safe }};
  {% if old_geojson %}
  var oldGeojson = {{ old_geojson|safe }};
  {% else %}
  var oldGeojson = null;
  {% endif %}
  if(oldGeojson && oldGeojson.geometry && oldGeojson.geometry.coordinates) {
    var oldVersion = {
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": oldGeojson.geometry.type,
            "coordinates": oldGeojson.geometry.coordinates
          }
        };
    featureCollection["features"].push(oldVersion);
    map.addSource('oldVersion',
      {
        "type": "geojson",
        "data": oldVersion
      });
    oldVersion = true;
  }

  if(newGeojson.geometry && newGeojson.geometry.coordinates) {
    var newVersion = {
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": newGeojson.geometry.type,
            "coordinates": newGeojson.geometry.coordinates
          }
        };
    featureCollection["features"].push(newVersion);
    map.addSource('newVersion',
      {
        "type": "geojson",
        "data": newVersion
      });
    newVersion = true;
  }

  if (oldVersion && !newVersion) {
    //geometry deleted
    $('#geometryStatus').text("Geometry is deleted");
    map.addLayer({
        'id': 'deleted-line',
        'source': 'oldVersion',
        'type': 'line',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'line-color': '#dc322f',
            'line-width': 2
        },
        'filter': [
            'in', '$type', 'LineString', 'Polygon'
        ]
    });
    map.addLayer({
        'id': 'deleted-point',
        'source': 'oldVersion',
        'type': 'circle',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'circle-color': '#dc322f',
            'circle-radius': 3,
            'circle-blur': 1
        },
        'filter': [
            '==', '$type', 'deleted'
        ]
    });
  } else if (!oldVersion && newVersion) {
    //geometry added
    $('#geometryStatus').text("Geometry is added");
    map.addLayer({
        'id': 'added-line',
        'source': 'newVersion',
        'type': 'line',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'line-color': '#859900',
            'line-width': 2
        },
        'filter': [
            'in', '$type', 'LineString', 'Polygon'
        ]
    });

    map.addLayer({
        'id': 'added-point',
        'source': 'newVersion',
        'type': 'circle',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'circle-color': '#859900',
            'circle-radius': 3,
            'circle-blur': 1
        },
        'filter': [
            '==', '$type', 'Point'
        ]
    });
  } else if (oldVersion && newVersion) {
    //geometry modified
    if (JSON.stringify(oldVersion.geometry) !== JSON.stringify(newVersion.geometry) )
      $('#geometryStatus').text("Geometry is modified");
    else
      $('#geometryStatus').text("Geometry is same");

    map.addLayer({
        'id': 'modified-old-line',
        'source': 'oldVersion',
        'type': 'line',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'line-color': '#fdf6e3',
            'line-width': 2
        },
        'filter': [
            'in', '$type', 'LineString', 'Polygon'
        ]
    });
    map.addLayer({
        'id': 'modified-old-point',
        'source': 'oldVersion',
        'type': 'circle',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'circle-color': '#fdf6e3',
            'circle-radius': 3,
            'circle-blur': 1
        },
        'filter': [
            '==', '$type', 'Point'
        ]
    });
    map.addLayer({
        'id': 'modified-new-line',
        'source': 'newVersion',
        'type': 'line',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'line-color': '#b58900',
            'line-width': 2
        },
        'filter': [
            'in', '$type', 'LineString', 'Polygon'
        ]
    });
    map.addLayer({
        'id': 'modified-new-point',
        'source': 'newVersion',
        'type': 'circle',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'circle-color': '#b58900',
            'circle-radius': 3,
            'circle-blur': 1
        },
        'filter': [
            '==', '$type', 'Point'
        ]
    });
  }
  map.fitBounds(turf.bbox(featureCollection), {
    linear: true,
    padding: 20
  });
});
</script>
{% endblock javascript %}
