
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block extra_meta %}{% endblock %}
        <link rel="shortcut icon" href="/osmcha-frontend/favicon.ico">
        <link rel="preconnect" href="https://osmcha-django-staging.tilestream.net">
        <title>OSM Changeset Analyzer{% block extra_title %}{% endblock %}</title>
        <link href="{{ FRONTEND_CSS_URL }}" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="{{ FRONTEND_JS_URL }}"></script>
    </body>
</html>
