{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>

<div>
  <h3>Whitelisted Users:</h3>
  {% for w in whitelist %}
    <div>
      <input type="checkbox" class="checkbox-user" data-username="{{ w.whitelist_user }}" />
      {{ w.whitelist_user }}
    </div>
  {% endfor %}
    <button class="btn btn-primary" id="removeFromWhitelist">
      Remove selected users from whitelist
    </button>
</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $('#removeFromWhitelist').click(function() {
        var names = [];
        $('.checkbox-user').each(function() {
          if ($(this).prop('checked')) {
            var name = $(this).attr('data-username');
            names.push(name);
            $(this).parent().remove();
          }
        });
        var namesString = names.join(',');
        console.log('names', namesString);
        $.post("/remove-from-whitelist", {
          'names': namesString
        }, function(response) {
          console.log(response);
        });
      });
    });
  </script>
{% endblock %}

