name: Django CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup PostgreSQL with Postgis
      uses: huaxk/postgis-action@v1.0.0
      with:
        postgresql version: latest
        postgresql db: osmcha
        postgresql user: ${{ secrets.POSTGRES_USER }}
        postgresql password: ${{ secrets.POSTGRES_PASSWORD }}
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install Dependencies
      run: |
        sudo apt-get update -qq -y
        sudo apt-get install -y binutils libproj-dev python3-gdal libgeos-dev libyaml-dev
        python -m pip install --upgrade pip
        pip install -r requirements/test.txt
    - name: Run Tests
      run: |
        coverage run manage.py test --settings=config.settings.tests
      env:
        OAUTH2_OSM_KEY: ${{ secrets.OAUTH_OSM_KEY }}
        OAUTH2_OSM_SECRET: ${{ secrets.OAUTH_OSM_SECRET }}
        PGUSER: ${{ secrets.POSTGRES_USER }}
        PGPASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
